@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

h1 {
    color: #003ea1;
    font-size: 74px;
    font-weight: 100;
    font-family: 'Titillium Web', sans-serif system-ui, Arial, Helvetica, sans-serif;
    text-shadow: 4px 2px 3px black;
}

p {
    color: red;
    font-size: 32px;
    font-weight: bolder ;
    font-style: oblique;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}